body {
    background-color: rgb(32, 33, 36);
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    width: 100%;
    margin: auto;
}
.head {
    width: 80%;
    margin: auto;
    border: solid 2px rgb(53, 54, 58);
    margin-top: 1%;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
a {
    color: rgb(150, 150, 150);
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
.main_div {
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.img {
    width: 200px;
    height: 200px;
    border: solid 2px rgb(0, 150, 255);
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(0, 150, 255);
    padding: 5px;
    animation: loop_color 10s infinite;
}
@keyframes loop_color {
    0% {
        box-shadow: 0px 0px 10px rgb(0, 150, 255);
        border-color: rgb(0, 150, 255);
    }
    25% {
        box-shadow: 0px 0px 10px rgb(220, 20, 60);
        border-color: rgb(220, 20, 60);
    }
    50% {
        box-shadow: 0px 0px 10px rgb(255, 100, 0);
        border-color: rgb(255, 100, 0);
    }
    75% {
        box-shadow: 0px 0px 10px rgb(0, 255, 0);
        border-color: rgb(0, 255, 0);
    }
    100% {
        box-shadow: 0px 0px 10px rgb(0, 150, 255);
        border-color: rgb(0, 150, 255);
    }
}
.icon_div {
    width: 100%;
    max-width: 320px;
    margin: auto;
    padding: 2px;
    border: solid 1px rgb(53, 54, 58);
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.icon {
    width: 28px;
    padding: 5px;
    transition-duration: 300ms;
}
.icon:hover {
    transform: scale(1.2,1.2);
}
.donate_div {
    border: solid 1px rgb(53, 54, 58);
    border-radius: 100px;
    width: 300px;
    margin: auto;
    transition-duration: 300ms;
}
.donate_div:hover {
    box-shadow: 0px 0px 10px rgb(40, 170, 225);
}
.donate {
    width: 200px;
    padding: 2px;
}
.message_div {
    width: 100%;
    margin: auto;
    text-align: center;
}
.message {
    width: 80%;
    outline: none;
    background-color: rgb(32, 33, 36);
    color: rgb(150, 150, 150);
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(53, 54, 58);
}
.btn {
    width: 100px;
    background-color: rgb(32, 33, 36);
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: solid 1px rgb(53, 54, 58);
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    cursor: pointer;
    transition-duration: 300ms;
}
.btn:hover {
    background-color: rgb(53, 54, 58);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.bottom {
    position: absolute;
    bottom: 1%;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: monospace;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(32, 33, 36);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(53, 54, 58);
}
