@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Charm", sans-serif;;
}

body {
    background: linear-gradient(145deg, #0d1b2a, #1b263b, #415a77);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

#content {
    position: relative;
    padding: 30px;
    color: white;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.15);
}

.profilePic {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.bio {
    font-size: 14px;
    margin-bottom: 25px;
    opacity: 0.8;
}

.linksDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link {
    display: flex;
    align-items: center;
    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
    text-align: left;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.link-icon {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.link-text {
    flex: 1;
}

.social-icon {
    width: 24px;
    height: 24px;
}
/* This animation for JS (DOM-LOAD Event) */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.emailDiv {
    margin-top: 20px;
    opacity: 30%;
}

.email {
    color: white;
    text-decoration: none;
}
